<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RegTest</td><td>FirstMavenTC.testEasy()[pri:0, instance:ToolsQA.DemoMaven.FirstMavenTC@5e3a8624]<br/></td></tr>
<tr><td>SmokeTest</td><td>FirstMavenTC.testEasy()[pri:0, instance:ToolsQA.DemoMaven.FirstMavenTC@5e3a8624]<br/></td></tr>
</table>
