<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>16/12/07 10:42:46</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;FirstMavenTC.afterTest()[pri:0, instance:ToolsQA.DemoMaven.FirstMavenTC@5e3a8624]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/12/07 10:42:32</td>   <td>-13234</td> <td>&nbsp;</td><td title="&gt;&gt;FirstMavenTC.beforeTest()[pri:0, instance:ToolsQA.DemoMaven.FirstMavenTC@5e3a8624]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/12/07 10:42:36</td>   <td>-9306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstMavenTC.testEasy()[pri:0, instance:ToolsQA.DemoMaven.FirstMavenTC@5e3a8624]">testEasy</td> 
  <td>main@1291286504</td>   <td></td> </tr>
</table>
